* {
  box-sizing: border-box;
}

.body {
  padding: 0;
  margin: 0;
  color: rgba(10, 20, 58, 1);
  font-family: Roboto, sans-serif;
}

.header {
  margin-top: 30px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 25px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: fit-content;
  display: flex;
  gap: 6px;
  align-items: center;
}

.header-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.header-controls {
  display: flex;
  gap: 12px;
}

.header-burger {
  height: 15px;
  width: 30px;
  display: none;
}

.main {
  margin-top: 24px;
}

.search {
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(37, 110, 235, 1);
  border-radius: 5px;
  padding: 3px;
}

.search-input {
  outline: none;
  border: none;

  width: 100%;
  border-radius: 5px;
  padding: 16px 22px;

  color: rgba(10, 20, 58, 1);

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  width: 15px;
  height: 17px;
}

.search-btn-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.content {
  margin-top: 35px;
}

.btn {
  padding: 10px 15px;

  border-radius: 5px;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn.btn-outline {
  color: rgba(10, 20, 58, 1);
  background-color: transparent;
}

.btn.btn-outline:hover {
  background-color: rgba(10, 20, 58, 0.1);
}

.btn.btn-primary {
  color: #fff;
  background-color: rgba(37, 110, 235, 1);
}

.btn.btn-primary:hover {
  background-color: rgba(37, 110, 235, 0.8);
}

@media (max-width: 1200px) {
  .container {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 730px;
  }
}

@media (max-width: 786px) {
  .container {
    max-width: 100%;
  }

  .header-burger {
    display: block;
  }

  .header-controls {
    display: none;
  }

  .search-btn-text {
    display: none;
  }
}
